@use '../variables' as *;

@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;

	cursor: pointer;
	text-decoration: none;
}

// color extends
%orange_btn_1 {
	@include st_btn;

	font-weight: 700;
	text-transform: uppercase;
	color: $color_white;
	transition: opacity $transition_dur ease;
	background-image: linear-gradient(93.93deg, $color_orange 69.26%, rgba(255, 123, 58, 0.59) 80.39%, $color_orange 95.95%);

	&:hover {
		opacity: 0.9;
	}
}

// size extends
%btn_size_1 {
	min-width: 32.8rem;
	height: 6.6rem;
	padding: 0 2rem;

	line-height: 6.6rem;
	font-size: 1.8rem;

	border-radius: 1rem;
}
