@use './helpers/abstracts' as *;

html {
	@include bp(1920px, min) {
		font-size: 10px;
	}

	@media (min-width: $point_2) and (max-width: 1919px) {
		font-size: calc(100dvw / 1920 * 10);
	}

	@include bp($point_3) {
		font-size: 10px;
	}
}

html,
body {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: $font_inter;
	font-weight: 600;
	color: $color_text;
	font-size: 2rem;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;

	padding-top: var(--header-height);
}

.main {
	flex-grow: 1;
}

.section {
	width: 100%;
	padding: 8rem 0;
}

.section__head {
	margin-bottom: 4rem;
}

.section__title {
	font-family: $font_manrope;
	font-weight: 800;
	font-size: 4.8rem;
	line-height: 1.6;

	&:has(+ .section__descr) {
		margin-bottom: 1rem;
	}
}

.section__descr {
	font-family: $font_manrope;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 1.6;
}

.container {
	max-width: 156rem;
	width: 100%;

	margin: 0 auto;
	padding: 0 2rem;
	&.container--v2 {
		max-width: 135rem;
	}
}

.logo {
	display: block;
	width: 26rem;
	height: 5.4rem;
}

.logo__img {
	@extend %contain_img;
}
